body { 
  font-family: Helvetica;
  font-size: 13pt;
}

.passed { color: #060; }
.failed { color: #C00; }
.skipped { color: #CC0; }
.time { color: #888; font-size: 70%; margin-left: 2em; }
.results { }

.testsuite { }
.testcase { }

ol li { }

#dateline {
  font-style: italic;
  color: #888;
}

.suitename { color: blue; }
.casename { color: blue; }

ul.testsuite { list-style-type: circle; }
ul.testcase {list-style-type: square; }

div.coverage h1 {font-size: 13pt; font-weight: normal; margin-top: 0; margin-bottom: 0; font-style: italic;}
div.coverage h2 {font-size: 13pt; font-weight: normal; margin-top: 0; margin-bottom: 0; margin-left: 1em; font-style: italic;}
div.coverage ul {list-style-type: disc; margin-left: 1em; color: #666;}